<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./static/img/gradient_planet.png" rel="icon">
        <title>data pipeline</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
            
        <link rel="stylesheet" href="static/css/style8.css">


    </head>
    <body>
        <header>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="index.html#services" class="nav__link">Services</a></li>
                    <li class="nav__item"><a href="index.html#about" class="nav__link">About me</a></li>
                    <li class="nav__item"><a href="index.html#project" class="nav__link">Project</a></li>
                </ul>
            </nav>
        </header>

        <!-- Introduction -->
        <section class="project" id="home">
            <h1 class="section__title section__title--project">
                Project <strong>Data Pipeline</strong>
            </h1>
            <p class="section__subtitle section__subtitle--project">Building Automated  Workflow with Apache Airflow</p>
            <img src="static/img/workflow-airflow.png" alt="a picture of Jane Smith smiling" class="project__img">
        </section>

        <div class="portfolio-item-individual">
            <p>Data pipeline i have built is going to scrape and store Indonesian covid spread data. I'm using Apache Airflow to schedule and monitor data pipeline. I don't need to do scraping and storing data repetitively because it will run automaticaly every day.</p>
            <p>The way the data pipeline work is it will check the availability of the API.If the API is available then it will download covid data each province in Indonesia on that day. it also have a task to create tabel in data base named covid_update_dataset where the data will be store after processing. the data have been download will be processing to get the increasing value case each province because thats not provided in the API. This processing data will provide all the data needed then store on the covid_update_dataset Tabel created before.</p>
            <p>When everything has been done. it will send a notification to slack </p>            
            <img src="static/img/slack-notif.png" alt="" class="project__detail">

        </div>

        <!-- Footer -->
        <footer class="footer">
            <a href="mailto:baysmdra@gmail.com" class="footer__link">baysmdra@gmail.com</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://wa.me/087817206050">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://twitter.com/nakkebayu">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/bayusamudra09">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </footer>


        <script src="static/js/index.js"></script>


    </body>
</html>
